body {
    justify-content: left;

    height: 100%;

    margin: 0;
    padding: 0;

    background-color: #fafafa;

    font-size: 17px;
}

.index {
    min-height: 100%;
    max-width: 550px;
}

.post {
    min-height: 100%;
    max-width: 550px;
}

.nav {
    right: 2rem;
    top: 2rem;
}

.nav img {
    width: 1.75rem;
    height: 1.75rem;

    border-radius: 1rem;
}

.nav.active img {
    opacity: .75;
}

.nav.active img:hover {
    opacity: 1;
    cursor: pointer;
}

.title {
    display: inline-block;

    font-family: 'Playfair Display', serif;
    font-weight: normal;
    font-size: 3rem;

    color: #111111;
}

.item {
    font-size: 1rem;
    font-family: 'Georgia', serif;
    font-weight: normal;

    padding-left: 0.5rem;
    line-height: 24px;

    margin: 0;
    margin-bottom: 1rem;

    text-indent: 1rem;
    text-align: left;

    list-style-position: outside;
    list-style-type: none;

    color: #333;
}

.item > li {
    text-indent: 0;
}

.item a {
    text-decoration: none;
    color: #333;
}

.item a:hover {
    color: #666;
    text-decoration: underline;
}

.date {
    display: block;
    margin-top: -0.2rem;

    font-size: .8rem;
    color: #999;
}

.post-body {
    font-family: 'Georgia', serif;
    font-weight: normal;
    line-height: 26px;
    color: #333;
}

.post-body li + li {
    margin-top: 1rem;
}

.post-body blockquote {
    padding-left: 1rem;
    border-left: 1px solid #666;

    font-style: italic;
    font-size: 0.9rem;

    line-height: 24px;
}

.post-body a {
    color: #333;
}

.post-body a:hover {
    color: #666;
}

.divider {
    font-family: 'Georgia', serif;
    width: 25%;
    font-size: 0.9rem;

    color: #666;

    margin: 2rem 0 1rem;
}

.divider hr {
    border-top: 1px solid #ccc;
    border-bottom: 0;
}

.divider:nth-of-type(1) {
    margin-top: 1rem;
}

@media (min-width: 700px) {
    .nav {
        position: fixed;
    }

    .index {
        padding: 0 2rem 20rem 5%;
    }

    .post {
        padding: 0 2rem 20rem 5%;
    }

    .title {
        margin-top: 4rem;
        margin-bottom: 1.5rem;
        width: 120%;
    }

    .post-body p {
        margin: 0 0 24px;
    }

    .post-body blockquote {
        margin: 12px 0 32px;
    }
}

@media (max-width: 700px) {
    .nav {
        position: absolute;
    }

    .index {
        padding: 0 2rem 20rem;
    }

    .post {
        padding: 0 2rem 20rem;
    }

    .title {
        margin-top: 4rem;
        margin-bottom: 1rem;

        width: 100%;

    }

    .post-body p {
        margin: 0 0 12px;
    }

    .post-body blockquote {
        margin: 12px 0 20px;
    }
}
