html {
    font-size: 17px;
}

body {
    justify-content: left;

    height: 100%;

    margin: 0;
    padding: 0;

    background-color: #fafafa;
}

.main {
    min-height: 100%;
    max-width: 550px;
}

.nav {
    left: 2rem;
    top: 2rem;
}

.nav img {
    width: 1.75rem;
    height: 1.75rem;

    border-radius: 1rem;
}

.nav.active img {
    opacity: .75;
}

.nav.active img:hover {
    opacity: 1;
    cursor: pointer;
}

.title {
    display: inline-block;

    font-family: 'Playfair Display', serif;
    font-weight: normal;
    font-size: 3rem;

    color: #111111;
}

.item {
    font-size: 1rem;
    font-family: 'Times New Roman', serif;
    font-weight: normal;

    padding-left: 0.5rem;
    line-height: 24px;

    margin: 0;
    margin-bottom: 1rem;

    text-indent: 1rem;
    text-align: left;

    list-style-position: outside;
    list-style-type: none;

    color: #333;
}

.item > li {
    text-indent: 0;
}

.item a {
    text-decoration: none;
    color: #333;
}

.item a:hover {
    color: #666;
    text-decoration: underline;
}

.date {
    display: block;
    margin-top: -0.1rem;

    font-size: .75rem;
    color: #999;
}

.post {
    font-family: 'Times New Roman', serif;
    font-weight: normal;
    line-height: 26px;
    color: #333;
}

.post li + li {
    margin-top: 1rem;
}

.post blockquote {
    padding-left: 1rem;
    border-left: 1px solid #666;

    font-style: italic;
    font-size: 0.9rem;

    line-height: 24px;
}

.post a {
    color: #333;
}

.post a:hover {
    color: #666;
}

.divider {
    font-family: 'Times New Roman', serif;
    width: 25%;
    font-size: 0.9rem;

    color: #666;

    margin: 2rem 0 1rem;
}

.divider hr {
    border-top: 1px solid #ccc;
    border-bottom: 0;
}

.divider:nth-of-type(1) {
    margin-top: 1rem;
}

@media (max-width: 768px) {
    .nav {
        position: absolute;
        right: 2rem;
        left: auto;
    }

    .main {
        padding: 0 2rem 20rem;
    }

    .title {
        margin-top: 4rem;
        margin-bottom: 1rem;

        width: 100%;

    }

    .post p {
        margin: 0 0 12px;
    }

    .post blockquote {
        margin: 12px 0 20px;
    }
}

@media (min-width: 768px) {
    .nav {
        position: fixed;
    }

    .main {
        padding-top: 0;
        padding-right: 2rem;
        padding-bottom: 20rem;

        padding-left: 12%;
    }

    .title {
        margin-top: 5rem;
        margin-bottom: 1.5rem;
        width: 100%;
    }

    .post p {
        margin: 0 0 24px;
    }

    .post blockquote {
        margin: 12px 0 32px;
    }
}

@media (min-width: 834px) {
    .main {
        padding-left: 10%;
    }
}

@media (min-width: 1024px) {
    .main {
        padding-left: 8%;
    }
}

@media (min-width: 1440px) {
    .main {
        padding-left: 6%;
    }
}

@media (min-width: 2000px) {
    .main {
        padding-left: 5%;
    }
}

@media (min-width: 2500px) {
    .main {
        padding-left: 4%;
    }
}
