body {
    justify-content: left;

    height: 100%;

    margin: 0;
    padding: 0;

    background-color: #fafafa;

    font-size: 17px;
    color: #111111;
}

.nav {
    position: absolute;
    right: 2.5rem;
    top: 2rem;
}

.nav img {
    width: 1.75rem;
    height: 1.75rem;

    border-radius: 1rem;
}

.nav.active img {
    opacity: .75;
}

.nav.active img:hover {
    opacity: 1;
    cursor: pointer;
}

.index {
    min-height: 100%;
    max-width: 550px;
}

.title {
    display: inline-block;

    font-family: 'Playfair Display', serif;
    font-weight: normal;
    font-size: 3rem;
}

.title a {
    color: #111;
}

.title a:hover {
    color: #444;
}

.item {
    font-family: 'Georgia', serif;
    font-weight: normal;

    padding-left: 0.5rem;
    line-height: 24px;

    margin: 0;
    margin-bottom: 1rem;

    text-indent: 1rem;
    text-align: left;

    list-style-position: outside;
    list-style-type: none;

    color: #333;
}

.item > li {
    text-indent: 0rem;
}

.item a {
    text-decoration: none;
    color: #333;
}

.item a:hover {
    color: #666;
    text-decoration: underline;
}

.date {
    display: inline;
    font-size: .75rem;
    color: #888;
}

.post {
    min-height: 100%;
    max-width: 500px;
}

.post p {
    font-family: 'Georgia', serif;
    font-weight: normal;

    line-height: 24px;

    text-indent: 1rem;
    text-align: left;

    color: #333;
}

.post a {
    color: #333;
}

.paragraph a:hover {
    color: #666;
}

@media (min-width: 700px) {
    .index {
        padding: 0 2rem 20rem 5%;
    }

    .post {
        padding: 0 2rem 20rem 5%;
    }

    .title {
        margin-top: 4rem;
        margin-bottom: 1.5rem;
        width: 120%;
    }

    .post p {
        margin: 0 0 24px;
    }
}

@media (max-width: 700px) {
    .index {
        padding: 0 2rem 20rem;
    }

    .post {
        padding: 0 2rem 20rem;
    }

    .title {
        margin-top: 3.5rem;
        margin-bottom: 1rem;

        width: 100%;

    }

    .post p {
        margin: 0 0 12px;
    }
}
